@model IEnumerable<GoPlaces.Models.Adventure>

@{
    ViewData["Title"] = "AllAdventuresIndex";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}

<style>
    .adventure-card.adventure-card-link {
        color: darkgreen;
        text-decoration: none;
    }

        .adventure-card.adventure-card-link:hover {
            color: #0056b3;
            text-decoration: none;
        }
</style>

<div style="background-color: darkgreen;">
    <h1 style="color:cornsilk;">All Adventures</h1>

    <p class="justify-content-center">
        @{ if (user != null)
            {
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            }
        }
    </p>
</div>

@*4. add "Search people and places"*@
<form asp-action="AllAdventuresIndex">
    <div class="input-group w-75 justify-content-center mx-auto">
        <input class="active ml-3 mr-3 w-50 rounded" type="text" name="searchString" placeholder="search for people and adventures..." />
        <button type="submit" class="btn mr-1 btn-primary" role="search">
            <i class="fa fa-search"></i>
        </button>
    </div>
</form>

<div class="adventure-cards-container card-deck d-flex justify-content-around">
    @foreach (var item in Model)
    {
        <a class="adventure-card adventure-card-link" asp-action="Details" asp-route-id="@item.AdventureId">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <img src="~/TestImages/Blake-Abel.jpg" class="card-img-top" alt="picture for this adventure">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="card-footer">
                        @{
                            if (item.User.ProfilePictureImagePath != null)
                            {
                                <img src="~/uploads/@item.User.ProfilePictureImagePath"
                                     alt="profile photo for @item.User.UserHandle"
                                     class="rounded-circle w-25" />
                            }
                        }

                        <small>
                            added by @Html.DisplayFor(modelItem => item.User.UserHandle) on @Html.DisplayFor(modelItem => item.DateCreated)
                        </small>
                    </div>
                </div>
            </div>
        </a>
    }
</div>