@model IEnumerable<GoPlaces.Models.Adventure>

@{
    ViewData["Title"] = "AllAdventuresIndex";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}


@*
    1. change page title/heading -- include cool background and center
    2. change "create new" link to a cool styled button or something
    3. change default list view to an array of Cards (see wireframes)
        *how to make a whole card a link to the details page?
        *make "Created By @Username" link to EITHER a list of all that user's adventures OR a link to that user's profile page


*@

<div style="background-color: darkgreen;">
    <h1 style="color:cornsilk;">All Adventures</h1>

    <p class="justify-content-center">
        @{ if (user != null)
            {
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            }
        }
    </p>
</div>

@*4. add "Search people and places"*@
<div class="input-group w-75 justify-content-center">
    <input class="active-pink-3 ml-3 mr-3 w-50 rounded" type="text" name="SearchString" placeholder="search for people and places..." />
    <button type="button" class="btn mr-1 btn-primary" role="search">
        <i class="fa fa-search"></i>
    </button>
</div>

<div class="adventure-cards-container card-group"> @*size this div AND flex flow the cards within*@
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.AdventureId">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <img src="~/TestImages/Blake-Abel.jpg" class="card-img-top" alt="picture for this adventure">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="card-footer">
                        @* @{
                            if (item.User.ProfileImage)
                                {
                                <img src="...wherever user profile imgs are" 
                                    alt="profile photo for @HtmlDisplayFor(modelItem => item.User.UserHandle" 
                                    class="rounded-circle w-25">
                                }
                            }
                        *@
                        <small>
                            added by @Html.DisplayFor(modelItem => item.User.UserHandle) on @Html.DisplayFor(modelItem => item.DateCreated)
                        </small>
                    </div>
                </div>
            </div>
        </a>
    }
</div>

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Created By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserHandle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AdventureId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>    
*@